.heading {
	margin-top: 30px;
}

.h1Underline::before {
	content: "";
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #5c8026;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	bottom: -2px;
}

.h1Underline:hover::before {
	transform: scaleX(1);
}

#content {
	margin-bottom: 40px;
}
.contentCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px 0;

	position: relative;
	overflow: hidden;
}

.contentCol h1 {
	margin: 10px 0;
	font-size: 2.3rem;
}

.contentCol p {
	margin: 10px 0;
	line-break: auto;
	text-align: start;
}

.contentCol img {
	width: 65%;
}

.specBtn {
	color: #749a35;
	border-color: #749a35;
}

.specBtn:hover {
	color: white;
	background-color: #5c8026;
	border-color: white;
}

/*  */
