.knowMoreBtn {
	/* Colour Properties */
	background-color: var(--primary) !important;
	color: white !important;

	/* Border Properties */
	border-color: #ffffff !important;

	padding: 0.625rem 2.1875rem;
	font-size: 0.9375rem;
}

.knowMoreBtn:hover {
	background-color: #496420 !important;
	border-color: black !important;
}

/* Product Section Style */
#product {
	margin-top: 3.75rem;
	margin-bottom: 3.75rem;
	padding-top: 1.875rem;
	width: 85%;
}

.prohead h1 {
	margin-bottom: 1.875rem;
}

.prodCard {
	display: flex;
	align-items: center;
	border-color: #ffffff !important;
}

.prodImage {
	margin: 1.5rem;
	width: 75%;
	height: 80%;
}

.prodContent {
	text-align: center;
}

/* Banner Section Style */
#banner {
	margin-top: 6.375rem;
	margin-bottom: 6.25rem;
}
.bannerImg {
	width: 50%;
}

.bannerDes {
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: start;

	line-break: auto;
}

/* Operational Centers Style */
#operationalCenters {
	background: rgb(239, 239, 239) !important;
}

#operationalCenters h3 {
	padding-top: 25px;
	text-decoration: underline;
}
.operationalCentersImg {
	width: 10rem;
	padding: 2rem;
}

/* Demo */

#promo {
	text-align: center;
}
.promoImg {
	width: 97%;
	border-radius: 25px;
}

/* Testing */
#carouselExampleControls {
	width: 100%; /* Full viewport width */
	height: 500px; /* Set your desired fixed height here */
	overflow: hidden; /* Hide overflow to maintain a clean layout */
}

/* Ensure images fill the container without stretching */
.carousel-item {
	height: 100%; /* Make carousel items the same height as the carousel */
}

.carousel-item img {
	width: 100%; /* Fill the carousel width */
	height: 100%; /* Fill the carousel height */
	object-fit: cover; /* Maintain aspect ratio and cover the entire area */
}
